html {
    background-color: #808080;
    height: 100%;
}

body {
    background-image: url(/images/bg.jpg);
    background-position: 50% 50%;
    background-size: cover;
    height: 100%;
    font-family: "EstrangeloEdessaRegular", Arial, sans-serif;
    color: rgba(255,255,255,0.9);
    font-size: 2em;
    line-height: 1.4;
}

nav {
    height: 9rem;
    width: 100%;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 1px solid #D1D1D1;
}

input[type="submit"] {
    display: block;
}

input.email {
    color: rgba(0,0,0,0.8);
    width: 45rem;
    max-width: 100%;
}

@media (max-width: 750px) {
    input.email {
        width: 100%;
    }

    .mailing-form {
        border-radius: 0.5rem;
        background-color: rgba(0,0,0,0.6);
        padding: 2rem;
    }
}

.site-menu {
    position: absolute;
    left: 0;
}

.site-menu li {
    padding: 0 0 0 2rem;
}

.site-menu li:first-child {
    padding-left: 0;
}

.social-menu {
    position: absolute;
    right: 0;
}

.social-menu li {
    padding: 0 0 0 0.8rem;
}

.menu {
    margin: 0;
    padding: 2.5rem;
}

.menu li {
    display: inline-block;
    vertical-align: middle;
    line-height: 4rem;
    height: 4rem;
}

.menu a.logo {
    display: inline-block;
    background-image: url(/images/svg/giving-jar-icon-7.svg);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 1.4em;
    padding-left: 4rem;
    color: #ffffff;
}

.menu a {
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    font-weight: bold;
}

.menu a:hover {
    color: #ffffff;
    font-weight: bold;
}

.mailing-form {
    margin-top: 10%;
    max-width: 45rem;
}
