html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "EstrangeloEdessaRegular", Arial, sans-serif;
    font-size: 2em;
    line-height: 1.4;
}

nav {
    height: 9rem;
    width: 100%;
}

label {
    font-weight: normal;
}

#mce-email-label a {
    color: #ffffff;
    font-weight: bold;
}

#mce-email-label a:hover {
    text-decoration: underline;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 1px solid #D1D1D1;
}

input[type="submit"] {
    display: block;
}

input.email {
    color: rgba(0,0,0,0.8);
    width: 45rem;
    max-width: 100%;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked ~ #expand-menu {
    display: block;
}

input[type="checkbox"]:checked ~ label[for="show-drop-menu"] {
    color: #ffffff;
}

label[for="show-drop-menu"] {
    margin-right: 2rem;
    color: rgba(255,255,255,0.6);
}

label[for="show-drop-menu"]:hover {
    color: #ffffff;
    cursor: pointer;
}

#expand-menu {
    display: none;
    list-style-type: none;
    margin: -1rem 0 0 0;
    padding: 0.3rem 1rem;
    position: absolute;
    right: 4.5rem;
    text-align: right;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 0 1px rgba(0,0,0,0.6);
    z-index: 1000;
}

#expand-menu li {
	display: block;
	float: right;
	margin: 0;
    padding: 0.2rem;
    width: 100%;
    line-height: 3rem;
    height: 3rem;
}

#expand-menu li:hover {
    text-decoration: underline;
}

#expand-menu a {
    color: rgba(0,0,0,0.8);
}

#expand-menu a.facebook {
    display: inline-block;
    width: 2rem;
    text-align: center;
    color: #3b5998;
}

#expand-menu a.twitter {
    display: inline-block;
    width: 2rem;
    text-align: center;
    color: #4099ff;
}

@media (max-width: 750px) {
    input.email {
        width: 100%;
    }

    div.mailing-form {
        border-radius: 0.5rem;
        background-color: rgba(0,0,0,0.6);
        padding: 2rem;
        margin-bottom: 2rem;
        margin-top: 0;
    }

    i.scroll-cue {
        display: none;
    }

    div.masthead {
        height: auto;
    }

    div.page {
        position: static;
    }

    .menu li.make-room {
        display: none;
    }

    ol.menu li.drop-menu {
        display: block;
    }
}

footer {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    color: rgba(0,0,0,0.8);
    border-top: 1px solid rgba(0,0,0,0.1);
}

.masthead {
    background: url(/images/bg.jpg) no-repeat 50% 50%;
    background-size: cover;
    width: 100%;
    height: 100%;
    color: rgba(255,255,255,0.9);
}

.masthead a.logo {
    display: inline-block;
    background-image: url(/images/giving-jar-icon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 1.4em;
    padding-left: 4rem;
    color: #ffffff;
}

.masthead a {
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    font-weight: bold;
}

.masthead a:hover {
    color: #ffffff;
    font-weight: bold;
}

.scroll-cue {
    display: inline-block;
    padding: 1rem;
    float: right;
    margin-top: -3rem;
    margin-right: 2rem;
    font-size: 4rem;
    color: rgba(0,0,0,0.4);
}

.page {
    position: absolute;
    top: 95%;
    width: 100%;
    background-color: #ffffff;
    color: rgba(0,0,0,0.8);
    border-top: 1px solid rgba(0,0,0,0.1);
}

.page a {
    text-decoration: none;
    color: rgba(0,0,0,0.5);
    font-weight: bold;
}

.page a:hover {
    text-decoration: underline;
    color: #000000;
    font-weight: bold;
}

.page a.facebook:hover {
    color: #3b5998;
}

.page a.twitter:hover {
    color: #4099ff;
}

.page nav {
    height: 8rem;
}

.page .menu {
    padding: 2rem 2.5rem;
}

.site-menu {
    position: absolute;
    left: 0;
}

.site-menu li {
    padding: 0 0 0 2rem;
}

.site-menu li:first-child {
    padding-left: 0;
}

.social-menu {
    position: absolute;
    right: 0;
}

.social-menu li {
    padding: 0 0 0 0.8rem;
}

.menu {
    margin: 0;
    padding: 2.5rem;
}

.menu li {
    display: inline-block;
    vertical-align: middle;
    line-height: 4rem;
    height: 4rem;
}

.menu li.drop-menu {
    display: none;
}

.mailing-form {
    margin-top: 10%;
    max-width: 45rem;
}

.details {
    padding: 2.5rem;
    text-align: center;
}

.detail {
    display: inline-block;
    vertical-align: top;
    min-width: 24rem;
    width: 25%;
    margin: 2rem;
}

.detail:first-child {
    margin-left: 0;
}

.detail:last-child {
    margin-right: 0;
}

.detail .title {
    margin-bottom: 1rem;
}

.vr {
    display: inline-block;
    font-size: 1rem;
    padding: 0 1rem;
    margin-top: 5rem;
}

@media (max-width: 1000px) {
    .vr {
        display: none;
    }

    div.detail:first-child {
        margin-left: 2rem;
    }

    div.detail:last-child {
        margin-right: 2rem;
    }
}

.vr .dot1 {
    display: block;
    color: rgba(51,195,240,0.8);
    margin: 0.5rem auto;
}

.vr .dot2 {
    display: block;
    color: rgba(51,195,240,0.6);
    margin: 0.5rem auto;
}

.vr .dot3 {
    display: block;
    color: rgba(51,195,240,0.4);
    margin: 0.5rem auto;
}

.vr .dot4 {
    display: block;
    color: rgba(51,195,240,0.2);
    margin: 0.5rem auto;
}

.copyright {
    padding: 0 0 1rem 2.5rem;
    color: rgba(0,0,0,0.3);
}

@keyframes hover {
    from {
        animation-timing-function: ease-in-out;
        transform: translateY(-1rem);
    }
    to {
        animation-timing-function: ease-in-out;
        transform: translateY(1rem);
    }
}

.hover {
  animation: hover 1s infinite alternate;
  transform-origin: center bottom;
}
