html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "EstrangeloEdessaRegular", Arial, sans-serif;
  font-size: 2em;
  line-height: 1.4;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

input.vote-text {
  color: rgba(0,0,0,0.8);
  width: 45rem;
  max-width: 100%;
}

input[disabled] {
  color: rgba(0,0,0,0.5);
}

/* All Sections */

.section {
  padding: 6rem 0;
}

.section-heading {
  text-align: center;
}

.content {
  padding: 0;
}

.content + .content {
  padding-top: 6rem;
}

/* Nominate */



/* Previous Winners */

.winners {
  background-color: #ebfaff;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.winners .caption {
  text-align: center;
  margin: 1rem 0 0;
}

.winners .subcaption {
  font-style: italic;
  margin-bottom: 0;
}

/* Brought to You By */

.sponsor {
  text-align: center;
}

.sponsor img {
  max-width: 15rem;
}

/* Footer */

.footer {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 1rem;
}

.footer .container {
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.footer .copyright {
  text-align: left;
}

.footer .backtop {
  display: none;
}

@media (min-width: 550px) {
  .footer .backtop {
    display: block;
    text-align: right;
  }
}
