html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "EstrangeloEdessaRegular", Arial, sans-serif;
  font-size: 2.5em;
  line-height: 1.4;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

input.vote-text {
  color: rgba(0,0,0,0.8);
  width: 45rem;
  max-width: 100%;
}

input[disabled] {
  color: rgba(0,0,0,0.5);
}

/* All Sections */

.section {
  padding: 6rem 0;
}

.section-heading {
  text-align: center;
  margin: -2rem 0 3rem;
}

.content {
  padding: 0;
}

.content + .content {
  padding-top: 6rem;
}

/* Navigation Menu */

.nav {
  background-color: #ebfaff;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 1rem 0;
  height: 4rem;
  font-size: 2.1rem;
}

.nav a {
  color: #404040;
}
.nav a:hover {
  color: #1EAEDB;
  text-decoration: none;
}

.nav .container {
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.nav .title {
  display: none;
}

@media (min-width: 550px) {
  .nav .title {
    display: inline;
  }
}

#gj-logo {
  position: absolute;
  top: 0;
  left: 1rem;
  height: 7rem;
  padding-left: 8rem;
  padding-top: 0.9rem;

  background-image: url(/images/giving-jar-hires-circle.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top left;
}

#ud-logo {
  position: absolute;
  top: 0;
  right: 1rem;
  height: 7rem;
  padding-right: 8rem;
  padding-top: 0.9rem;

  background-image: url(/images/other/udm-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
}

/* Nominate */

.nominate {
  padding-bottom: 2.5rem;
}

.nominate .heading {
  text-align: center;
  font-weight: bold;
  font-size: 5rem;
  letter-spacing: 0.02rem;
  margin-bottom: 5rem;
}

.nominate .title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 2rem;
}

#voteResponder p {
  color: #1eaedb;
}

.fa-heart {
  color: crimson;
}

/* Previous Winners */

.winners {
  background-color: #ebfaff;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.winners .caption {
  text-align: center;
  margin: 1rem 0 0;
}

.winners .caption h1,h2,h3,h4,h5,h6 {
  margin-bottom: 0;
}

@media (min-width: 550px) {
  .winners .caption:after, .winners .caption:before {
    height: 100%;
    content: '';
    font-size:0;
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
  }

  .winners .caption h1,h2,h3,h4,h5,h6 {
    margin-bottom: 1rem;
  }
}

.winners .subcaption {
  font-style: italic;
  margin-bottom: 0;
}

/* Brought to You By */

.sponsor {
  text-align: center;
}

.sponsor + .sponsor {
  margin-top: 4rem;
}

@media (min-width: 550px) {
  .sponsor + .sponsor {
    margin-top: 0;
  }
}

.sponsor img {
  max-width: 15rem;
}

/* Footer */

.footer {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 1rem;
}

.footer .container {
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.footer .copyright {
  text-align: left;
}

.footer .backtop {
  display: none;
}

@media (min-width: 550px) {
  .footer .backtop {
    display: block;
    text-align: right;
  }
}
