@import 'design';

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: $base-font-family;
  color: $base-color;
  background-color: $base-background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-family: $heading-font-family;
  font-weight: 300;
}

a {
  color: $brand-colors-action;
  text-decoration: none;

  &:hover {
    color: $brand-colors-action-dark;
    text-decoration: underline;
  }
}

button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  border: 1px solid $control-border-color;
  border-radius: $control-border-radius;
  cursor: pointer;
  margin: 0;

  &:focus {
    outline: 0;
  }
}
