@import '_theme'

html
  box-sizing: border-box
  font-size: 62.5%

*
*:before
*:after
  box-sizing: inherit

body
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  background-color: $base-background-color
  color: $base-color
  font-family: $base-font-family
  font-size: 1.8rem
  font-weight: $font-weight-normal
  line-height: 1.6

h1
h2
h3
h4
h5
h6
  font-family: $heading-font-family
  font-weight: $font-weight-light
  margin-bottom: 2rem
  margin-top: 0

a
  color: $brand-colors-action
  text-decoration: none

  &:hover
    color: $brand-colors-action-dark
    text-decoration: underline

blockquote
  font-style: italic

button
input[type="button"]
  background-color: $brand-colors-action
  border: 1px solid $brand-colors-action
  border-radius: $control-border-radius
  color: $brand-colors-bright
  cursor: pointer
  display: block
  font-family: $heading-font-family
  font-size: 1.1rem
  font-weight: $font-weight-heavy
  letter-spacing: .1rem
  line-height: 1.1rem
  margin: 0
  padding: 5px 10px
  text-align: center
  text-decoration: none
  text-transform: uppercase
  white-space: nowrap

  &:focus
    outline: 0

img
  max-width: 100%
