$screen-tablet-min = 768px
$screen-desktop-min = 992px

$brand-colors-action = #006783
$brand-colors-action-dark = darken($brand-colors-action, 15%)
$brand-colors-calm = #ebfaff
$brand-colors-jar = #00c5fe

$base-background-color = #fff
$base-color = #404040
$base-font-family = 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif

$control-border-color = #ddd
$control-border-radius = 4px

$heading-font-family = 'EstrangeloEdessaRegular', 'Helvetica Neue', Helvetica, Arial, sans-serif
